
<hr>
<h3>Cadastro de Produtos</h3>
<div class="card">
    <div class="card-body"></div>
<form action="/admin/produtos/novo" method="POST"> 
    <label for="text">Nome:</label>
    <input for="text" id="nome" name="nome" placeholder="nome do produto" class="form-control">
    <label for="text">Descrição: </label>
    <input type="text" id="descrição" name="descrição" placeholder="Descrição do produto" class="form-control">
    <label for="string">Preço: </label>
    <input type="string" id="preço" name="preço" placeholder="Preço do produto" class="form-control">
    <br>
    <button type="submit" class="btn btn-success">Adicionar Produtos</button>
</form>
</div>
</div>
